<h1>enter your details</h1>
firstname: 
 <input type="text" [value]="firstname">
<br><br>

lastname:
 <input type="text" [value]="lastname">
<br>
<br>

age :
<input type="text" [value]="age">
<br>
emailid: 
<input type="text" [value]="mailid">
<br>


gender :
<select  Name="gender"  >
    <option value="male">male</option>
    <option value="female">female</option>
    <option value="other">other</option>
   </select>
<br>
address: <input type="text" [value]="address">
<br>
lasteducation: <input type="text" [value]="lasteducation">
<br>
<br>
<button>submit</button>
















